:host {
  display: block;
  height: 49.49083503%;
  width: 100%;
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery__arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-50%);
}

.gallery__arrow:hover path {
  fill: var(--accent-color);
}

.gallery__arrow-right {
  right: 0;
}

.gallery-container img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.showImage {
  opacity: 1 !important;
}
