.callout {
  color: white;
  text-align: center;
  font-size: 2.4vw;
  text-shadow: var(--text-dropshadow);
  font-weight: bold;
}

.callout__brand {
  text-transform: uppercase;
  color: white;
}

.callout__colored {
  color: var(--accent-color);
}
