.card {
  background-color: transparent;
  box-shadow: none;
  color: white;
  padding: 0 2.4rem;
  min-width: 45rem;
}
.card-title {
  font-size: 2vw;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: var(--text-dropshadow);
}
.card-text {
  font-size: 1vw;
}
