
<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
      <div class="card shadow border-0">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body gradient-bg">
              <h2 class="post-title">{{ post.title }}</h2>
              <h3 class="post-author">{{ post.author }}</h3>
              <hr class="divider">
              <p class="post-content">{{ post.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img 
        src="{{ post.thumbnailUrl }}" 
        alt="post image"
      >
    </div>
  </div>
</div>









