<main class="d-flex rounded pb-5 bg-white" style="height: fit-content">
  <img
    style="max-width: 50%; max-height: 50%"
    src="{{ post.thumbnailUrl }}"
    alt="post image"
    class="float-start rounded defaultHover defaultTransition ms-5 mt-5"
  />
  <div class="d-flex flex-column p-5">
    <h1 class="fs-1 mb-2">{{ post.title }}</h1>
    <h2 class="text-body-tertiary">by {{ post.author }}</h2>
    <span class="fs-5 text-secondary">{{
      post.createdAt | date : "yyyy-MM-dd"
    }}</span>
    <p class="fs-1 text-secondary">{{ post.content }}</p>
  </div>
</main>
