<main class="main">
  <section class="heroSection">
    <app-gallery></app-gallery>
    <app-callout></app-callout>

    <div class="d-flex justify-content-around p-5">
      <app-topics title="Stay Up-To-Date">
        <p class="card-text">
          Embark on a global journey connecting with fellow adventurers worldwide! Join our vibrant community of 
          travelers and dive into exhilarating conversations filled with captivating travel tales, invaluable tips, 
          and breathtaking snapshots of awe-inspiring destinations across the globe.
        </p>
      </app-topics>

      <app-topics title="Picture Perfect Memories">
        <p class="card-text">
          Share your travel photos and be part of an engaging visual dialogue that transcends borders and inspires fellow 
          adventurers. Step into history with snapshots of ancient ruins, iconic landmarks, and charming architectural 
          marvels. Join Wayfarer's community and share the magic of travel.
        </p>
      </app-topics>

      <app-topics title="Low Cost Travel">
        <p class="card-text">
          Our vibrant travel community is all about embracing the art of low cost exploration. Uncover budget-friendly 
          accommodations that offer comfort without compromising on experience. Tap into our budget-friendly itineraries.
          Pack your bags and get ready to create memories for a lifetime.
        </p>
      </app-topics>
    </div>
  </section>
</main>
