<main class="main">
  <section class="heroSection">
    <app-gallery></app-gallery>
    <app-callout></app-callout>

    <div class="d-flex justify-content-around p-5">
      <app-topics title="Stay Up-To-Date">
        <p class="card-text">
          WAYFARER keeps you informed with the latest travel information and
          trends, ensuring you have access to accurate and timely updates. Stay
          ahead of flight changes, travel advisories, and new destinations by
          relying on WAYFARER to keep you in the loop.
        </p>
      </app-topics>

      <app-topics title="User Based">
        <p class="card-text">
          At WAYFARER, we value the contributions of our users. Tap into the
          collective knowledge of fellow travelers who have shared their
          insights, reviews, and recommendations, and make informed decisions
          based on their firsthand experiences.
        </p>
      </app-topics>

      <app-topics title="Low Cost">
        <p class="card-text">
          WAYFARER offers a wide range of affordable options for accommodations,
          flights, car rentals, and activities. Take advantage of our
          partnerships with trusted providers and exclusive deals to travel on a
          budget without compromising on quality.
        </p>
      </app-topics>
    </div>
  </section>
</main>
