<main class="main">
  <section class="heroSection">
    <app-logo></app-logo>
    <app-gallery></app-gallery>
    <app-callout></app-callout>

    <div class="topics-container">
      <app-topics title="Stay Up-To-Date">
        <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Ut felis nisl, eleifend sit amet malesuada convallis, rutrum et orci.
            Sed nec dui mattis, eleifend urna a, dignissim tellus. Pellentesque in metus vel lectus
            ullamcorper viverra eget sed magna. Suspendisse commodo vulputate ornare.</p>
      </app-topics>

      
      <app-topics title="User Based">
        <p>Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Ut felis nisl, eleifend sit amet malesuada convallis, rutrum et orci.
          Sed nec dui mattis, eleifend urna a, dignissim tellus. Pellentesque in metus vel lectus
          ullamcorper viverra eget sed magna. Suspendisse commodo vulputate ornare.</p>
      </app-topics>


      <app-topics title="Low Cost">
        <p>Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Ut felis nisl, eleifend sit amet malesuada convallis, rutrum et orci.
          Sed nec dui mattis, eleifend urna a, dignissim tellus. Pellentesque in metus vel lectus
          ullamcorper viverra eget sed magna. Suspendisse commodo vulputate ornare.</p>
      </app-topics>

    </div>

    

  </section>
</main>
