.citiesList {
  position: relative;
  z-index: 1;
  background-color: #929090;
  padding: 0 20px 10px 0;
  border: 2px solid #929090;
  border-radius: 5px;
  /* margin: 40px; */
  margin: 2rem 0 0 20rem;

  

}


.citiesList__item {
  display: flex;
  align-items: center;
  border: 1px solid#929090;
  border-radius: 5px;
  border-color: #929090;
  background-color: #fff;
  padding: 10px;
  margin: 10px;

}

.citiesList__item img {
  width: 40px;
  height: 42px;
  border-radius: 5px;
  margin-right: 20px;

}
.h3-cities{
  margin: 20px 0 0 30px;
}
.citiesList__item h3 {
text-align: center;
margin-top: 10px;

}

.highlight {
  background-color: rgb(255, 89, 12);
}
