.cityDetail__post {
  display: flex;
}

.cityDetail__post__content {
  display: flex;
  flex-direction: column;
}

.cityDetail__overview {
  display: flex;
}

.cityDetail__overview__heading {
  display: flex;
  flex-direction: column;
}
