<div
  class="shadow-lg rounded-end p-3 bg-white d-flex flex-column"
  style="height: 100%"
>
  <div class="d-flex rounded flex-grow-2 mb-5">
    <div
      style="background-color: var(--primary-color)"
      class="d-flex flex-column me-2 rounded pe-5 ps-5 text-nowrap justify-content-center text-white"
    >
      <h2 class="fs-1">{{ city.name }}</h2>
      <h4 class="">{{ city.country }}</h4>
      <app-weather [cityName]="city.name"></app-weather>
    </div>
    <img
      class="rounded defaultTransition shadow-lg defaultHover"
      width="100%"
      height="120px"
      src="{{ city.iconUrl }}"
      alt="city image"
    />
  </div>
  <div class="d-flex flex-column rounded overflow-y-scroll">
    <h3 class="text-uppercase">Posts</h3>
    <div class="d-flex flex-column">
      <div
        class="d-flex border rounded border-black p-2 mb-2"
        *ngFor="let post of posts"
      >
        <img
          class="rounded defaultTransition me-2 shadow defaultHover"
          width="150px"
          height="60px"
          src="{{ post.thumbnailUrl }}"
          alt="#"
        />
        <div class="d-flex pt-2 flex-column justify-content-start">
          <a class="link-primary mb-2 fs-3" routerLink="/posts/{{ post.id }}">{{
            post.title
          }}</a>
          <p class="m-0">{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
