@import "~materialize-css/dist/css/materialize.css";

:root {
  /* default rem size, e.g., 1rem = 10px */
  font-size: 10px;
  --primary-color: #1ce3b9;
  --secondary-color: #ffffff;
  --lighter-secondary-color: #d2f9f1;
  --accent-color: #b91ce3;
  --text-dropshadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Open sans", sans-serif;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--primary-font-family);
  background-color: var(--primary-color);
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
